.previous-button {
    -fx-background-color: #990000;
    -fx-translate-x: 5;
    -fx-translate-y: 5;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}
.label {
    -fx-text-fill: white; /* Couleur du texte */
    /*-fx-font-size: 16px; !* Taille du texte *!*/
    -fx-font-weight: bold; /* Gras */
    -fx-padding: 5px; /* Espacement autour du texte */
}

BorderPane{
    -fx-background-color: #151a23;
}

.label-container {
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
    /*-fx-background-color: lightgray;*/
}
#title {
    -fx-font-size: 24px;
}
#synopsis .content{
    -fx-background-color: #151a23;
}

#synopsis{
    -fx-background-color: #151a23;
    -fx-text-fill: white;

}

#synopsis .scroll-bar:vertical{

}

#sessionButtonHBox SessionButton{
    -fx-background-color: #990000;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}